<p-menubar [model]="menuItems()" *ngIf="vm().authenticated" class="app-menubar">
  <!-- Left: App Title -->
  <ng-template pTemplate="start">
    <div class="app-title">
      {{ title }}
    </div>
  </ng-template>

  <!-- Right: Logged-in User -->
  <ng-template pTemplate="end">
    <div class="user-info">
      <div class="user-avatar">
        <i class="pi pi-user"></i>
      </div>
      <span class="user-name">{{ vm().userName }}</span>
    </div>
  </ng-template>
</p-menubar>

<p-toast />
<p-confirmDialog />

<div class="app-content">
  <router-outlet></router-outlet>
</div>
